body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.top-banner{
    height: 700px;
    background-image: url(header-bg.png);
    background-size: 110%;
    background-repeat: no-repeat;
}

.half-width{
    height: 50%;
    width: 35%;
    float: left;
    position: relative;
    left: 20%;
    top: 20%;
    padding:1%;
}

h1, h2{
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
}

.header-font{
    font-size: 40px;
    font-weight: 500;
}

.name-highlight{
    font-weight: 700;
    color:#ff43a1;
    font-family: 'Poppins', sans-serif;
}

.text-section{
    opacity: 0.7;
    font-size: 15px;
}

.link-button{
    text-decoration: none;
    padding: 6px 18px;
    background-image: linear-gradient(90deg, #ff1f8f, #ff43a1);
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.top-banner-img{
    width: 120%;
    position: relative;
    left: -10%;
    top: -25%;
}

.biography-area{
    height: 750px;
    background-image: url(biography-bg.png);
    background-repeat: no-repeat;
    background-size: 140%;
}

.biography-img{
    width: 110%;
    position: relative;
    top: -20%;
    right: 10%;
}

#lastest-work-header{
    text-align: center;
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 5%;
}

.latest-work-section{
    height: 500px;
    background-image: url(latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.img-row {
    display: flex;
    justify-content: center;
}

.img-column img{
    width: 300px;
    margin: 10px;
}
.footer-section{
    height: 580px;
    background-image: url(footer-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}
.footer-section h2{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10%;
}

.owners-information{
    margin-top: 5%;
    opacity: 0.8;
}

#owner-name{
    font-weight: 700;
}

#owner-designation{
    opacity: 0.7;
    font-size: 12px;
}

#owner-quotes{
    font-size: 13px;
    margin-top: 3%;
    margin-bottom: 4%;
}
.container{
    display: flex;
    justify-content: center;
}

.contact-box{
    width: 30%;
    height: 30%;
    border-radius: 10px;
    padding: 3%;
    color: white;
    background-color: rgb(224, 70, 147);
}

#message{
    font-size: 15px;
}

#email{
    font-weight: 400;
    font-size: 22px;
}

.copyrights{
    margin-top: 10%;
    font-size: 12px;
    opacity: 0.6;
}
  
